@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

grey = #444
dark-grey= #777
header-size = 100px
sub-header-size = 25px
// $full-header-size = sub-header-size + header-size
menu-size = 320px

per = 16/9

size = 250px

image-height = size
image-width = size*per
image-margin = 15px

text-padding = 10px

text-size = 50px + text-padding*2

column-count = 3