grey = #444
dark-grey= #777
header-size = 100px
sub-header-size = 25px
// $full-header-size = sub-header-size + header-size
menu-size = 320px

image-height = 200px
image-width = 360px
image-margin = 20px

text-size = 50px

column-count = 3